#post {
  h1, h2, h3, h4 {
    ...
  }

  img {
    ...
  }

  /******************************
   * STYLES FOR DISPLAYING CODE
   ******************************/
  // heading style for a code section
  h5 {
    ...
  }

  // main code section style
  .highlight {
    ...
  }

  // copy btn style
  .btn-copy-code {
    color: $gray-900;
    padding-right: 5px;
    float: right;
    background: $code-heading-background;
    border: 0;
    font-size: 12px;
    margin-top: -30px;
    &:hover {
      cursor: pointer;
      color: $primary;
    }
  }
}
